<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">

    <li routerLinkActive="active">
      <a [routerLink]="['home']" *ngIf="loggedIn">Home</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['createpost']" *ngIf="loggedIn">Create Post</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['posts']" *ngIf="loggedIn">Posts</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['login']" *ngIf="!loggedIn">Login</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['register']" *ngIf="!loggedIn">Register</a>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <li><a *ngIf="loggedIn" (click)="logout()">Logout</a></li>
  </ul>
</div>
